/* Modernist Theme CSS */

/* General Styling */
html {
    background: #6C7989;
    background: linear-gradient(#6C7989, #434B55) fixed;
}

body {
    padding: 50px 0;
    margin: 0;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    font-weight: 300;
}

/* Wrapper for Centered Content */
.wrapper {
    width: 640px;
    margin: 0 auto;
    background: #DEDEDE;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

/* Header Styling */
header {
    border-radius: 8px 8px 0 0;
    background: #C6EAFA;
    background: linear-gradient(#DDFBFC, #C6EAFA);
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #B2D2E1;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.2;
    color: #069;
    text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
}

header p {
    margin: 0;
    color: #61778B;
    font-size: 13px;
}

/* Section Styling */
section {
    padding: 15px 20px;
    font-size: 15px;
    border-top: 1px solid #fff;
    background: linear-gradient(#fafafa, #DEDEDE 700px);
    border-radius: 0 0 8px 8px;
}

/* Text Styling */
p {
    margin: 0 0 20px;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    padding: 0;
    margin: 0 0 20px;
    line-height: 1.2;
}

h1 {
    font-size: 28px;
}

h2 {
    color: #393939;
}

h3, h4, h5, h6 {
    color: #494949;
}

/* Blockquote Styling */
blockquote {
    margin: 0 -20px 20px;
    padding: 15px 20px 1px 40px;
    font-style: italic;
    background: rgba(0, 0, 0, 0.06);
    color: #222;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #aaa;
}

/* Preformatted Text Styling */
code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color: #333;
    font-size: 12px;
    overflow-x: auto;
}

pre {
    padding: 20px;
    background: #3A3C42;
    color: #f8f8f2;
    margin: 0 -20px 20px;
}

/* Footer Styling */
footer {
    width: 640px;
    margin: 0 auto;
    padding: 20px 0 0;
    color: #ccc;
    overflow: hidden;
}

footer a {
    color: #fff;
    font-weight: bold;
}

footer p {
    float: left;
}

footer p + p {
    float: right;
}

/* Responsive Design for Smaller Screens */
@media print, screen and (max-width: 740px) {
    body {
        padding: 0;
    }
    .wrapper {
        border-radius: 0;
        box-shadow: none;
        width: 100%;
    }
    footer {
        padding: 20px;
        width: auto;
    }
    footer p {
        float: none;
        margin: 0;
    }
    footer p + p {
        float: none;
    }
}

@media print, screen and (max-width: 580px) {
    header ul {
        display: none;
    }
    header p {
        width: 100%;
    }
}

/* Print Styling */
@media print {
    header p {
        display: block;
    }
    body {
        background: none;
    }
}
